@font-face {
  font-family: "Kolektif";
  src: url(font/Kollektif.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kolektif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}

body {
  background-color: #0a090a;
  min-height: 100vh;
  overflow-y: hidden;
}

.intro {
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-top: 10vh;
}

#vid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.aboutmetxt {
  color: #fff;
  width: 60vh;
  height: 60vh;
  border: solid;
  border-color: #fff;
  font-size: 30px;
  margin-left: 20vh;
  margin-top: 2vh;
  border-radius: 10px;
  padding: 25px;
  /* background-color: rgb(28, 29, 29); */
  background-color: black;
  text-align: left;
}

.aboutme {
  color: #fff;
  margin-left: 40.8vh;
  margin-top: 8vh;
  font-size: 40px;
}

.siteinfotxt {
  color: #fff;
  width: 60vh;
  height: 60vh;
  border: solid;
  border-color: #fff;
  margin-left: 116vh;
  margin-top: -60.2vh;
  border-radius: 10px;
  font-size: 30px;
  padding: 25px;
  /* background-color: rgb(28, 29, 29); */
  background-color: black;
}

.siteinfo {
  color: #fff;
  position: absolute;
  margin-left: 128.6vh;
  margin-top: -66vh;
  font-size: 40px;
}

.social1 {
  text-align: center;
  width: 50vh;
  height: 18vh;
  background-color: #0a090a;
  margin-left: 30vh;
  margin-top: 20vh;
  max-width: 100%;
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  font-size: 60px;
  position: absolute;
}

.scl {
  text-decoration: none;
  display: inline-block;
}

.insta {
  height: 50px;
  margin-top: 10px;
}

.scl1 {
  text-decoration: none;
  display: inline-block;
}

.social2 {
  text-align: center;
  width: 50vh;
  height: 18vh;
  background-color: #0a090a;
  margin-left: 29.5vh;
  margin-top: 45vh;
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  font-size: 60px;
  position: absolute;
}

.social3 {
  text-align: center;
  width: 50vh;
  height: 18vh;
  background-color: #0a090a;
  margin-left: 29.1vh;
  margin-top: 70vh;
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  font-size: 60px;
  position: absolute;
}

.scl2 {
  text-decoration: none;
  display: inline-block;
}

.social4 {
  text-align: center;
  width: 50vh;
  height: 18vh;
  background-color: #0a090a;
  margin-left: 115vh;
  margin-top: 20vh;
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  font-size: 60px;
  position: absolute;
}

.contactme {
  text-align: center;
  font-size: 50px;
  color: #fff;
  margin-top: 43vh;
  margin-left: 127vh;
  position: absolute;
}

.social5 {
  text-align: center;
  width: 50vh;
  height: 18vh;
  background-color: #0a090a;
  margin-left: 115vh;
  margin-top: 51vh;
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  font-size: 60px;
  position: absolute;
}

.social6 {
  text-align: center;
  width: 50vh;
  height: 18vh;
  background-color: #0a090a;
  margin-left: 115vh;
  margin-top: 75vh;
  max-width: 100%;
  border: solid;
  border-color: #fff;
  border-radius: 20px;
  color: #fff;
  padding: 30px;
  font-size: 60px;
}

.email {
  margin-top: 2vh;
  font-size: 35px;
}
